.container {
  width: 80%;
}

.images {
  list-style: none;
  margin: 0;
}

.images li {
  display: inline-block;
  margin-left: 15px;
}

li img {
  height: 200px;
  width: 200px;
  padding: 2px;
  border: 1px solid;
}

#lightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba( 0, 0, 0, .75 );
}

#lightbox img {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50% );
  width: 40%;
  padding: 10px;
  border: 5px solid black;
}