.container {
  width: 80%;
}

.images {
  list-style: none;
  margin: 0;
}

.images li {
  display: inline-block;
  margin-left: 15px;
}

li img {
  height: 200px;
  width: 200px;
  padding: 2px;
  border: 1px solid;
}